@CHARSET "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    font-size: 12px;
    color: #333;
    background-color: #fafafa;
    font-family: Arial sans-serif;
}

#tv_logo {
    width: 98px;
    height: 108px;
    background: url("/public/img/tube.png") no-repeat scroll left top transparent;
    float: left;
}

#logo {
    background: url("/public/img/sprite.png") no-repeat scroll right top transparent;
    height: 40px;
    position: relative;
    float: right;
    width: 230px;
}

#wrapper {
    margin: auto;
    height: 100%;
}

h1 {
    font-size: 36px;
    color: #323232;
    float: left;
    font-family: 'GaramondClassicFSRegular', Georgia, sans-serif;
}

h2 {
    font-family: 'GaramondClassicFSRegular', Georgia, sans-serif;
}

#top_wrapper {
    height: 96px;
    width: 100%;
    position: absolute;
    top: 0px;
    box-shadow: 0 5px 5px #d3d3d3;
    clear: both;
}

#topnav {
    top: 80px;
    cursor: pointer; position : relative;
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin: 0 12px 0 0;
    text-transform: uppercase;
    position: relative;
}

#nav_list li {
    display: inline;
}

#header {
    margin: auto;
    width: 955px;
}

#main_wrapper {
    width: 955px;
    margin: auto;
    margin-top: 96px;
    min-height: 800px;
    padding: 33px 0px 0px 0px;
}

#profile_box {
    float: left;
    width: 120px;
    height: 100%;
}

#bottom_wrapper {
    
}